---
export interface Props {
  id: string;
  question: string;
  option1: string;
  option2: string;
  option3: string;
  option4: string;
}

const { question, option1, option2, option3, option4 } = Astro.props;
---

<form action="#" method="POST">
  <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
    <fieldset id="{id}">
      <legend class="contents text-base font-medium text-gray-900"
        >{question}</legend
      >
      <p class="text-sm text-gray-500">
        Seleccione por favor una de las siguientes opciones
      </p>
      <div class="mt-4 space-y-4">
        <div class="flex items-center">
          <input
            id="push-everything"
            name="push-notifications"
            type="radio"
            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500"
          />
          <label
            for="push-everything"
            class="ml-3 block text-sm font-medium text-gray-700"
            >{option1}</label
          >
        </div>
        <div class="flex items-center">
          <input
            id="push-email"
            name="push-notifications"
            type="radio"
            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500"
          />
          <label
            for="push-email"
            class="ml-3 block text-sm font-medium text-gray-700"
            >{option2}</label
          >
        </div>
        <div class="flex items-center">
          <input
            id="push-nothing"
            name="push-notifications"
            type="radio"
            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500"
          />
          <label
            for="push-nothing"
            class="ml-3 block text-sm font-medium text-gray-700"
            >{option3}</label
          >
        </div>
        <div class="flex items-center">
          <input
            id="push-nothing"
            name="push-notifications"
            type="radio"
            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500"
          />
          <label
            for="push-nothing"
            class="ml-3 block text-sm font-medium text-gray-700"
            >{option4}</label
          >
        </div>
      </div>
    </fieldset>
  </div>
</form>
